//Variables
$firstColor: #D1FAFF;
$secondColor: #9BD1E5;
$thirdColour: #6A8EAE;
$fourthColour: #57A773;
$fifthColour: #157145;
$black: #121212;
$sansSerif: 'Source Sans Pro', sans-serif;
$serif: 'PT Serif', serif;

//Universal Style
h1, h2, h3, h4, h5, h6 {
    font-family: $sansSerif;
}

p {
    font-size: 1.4em;
    font-family: $serif;
    color: $firstColor;
    font-weight: 500;
}

button{
    font-size: 1.5em;
    font-family: $serif;
    color: $fourthColour;
}

.App, body{
    background-color: $fourthColour;
    #title{
        color: $firstColor;
    }
    .App-header{
        display: flex;
        margin: 5% auto;
    }
    .App-logo{
        width: 25%;
        height: auto;
        border-radius: .2em;
        background-color: $thirdColour;
    }
    .firstDescription{
        padding: 1em;
        margin: 1% auto 5% 0;
        height: auto;
        border-radius: .2em;
        background-color: $black;
    }
    #buttonsLanguage{
        text-align: center;
        button {
            background-color: $thirdColour;
            border-radius: 4px;
            border: none;
            margin: .6em;
            color: $black;
            transition: .4s;
        }

        button:hover{
            background-color: $fifthColour;
            color: white;
        }
    }
}

//Navbar

nav {
    background-color: $black;
    padding: .3em;
    text-align: end;
    #titleCurriculum{
        float: left;
        color: $thirdColour;
        padding: .3em;
    }
    .link{
        color: $fourthColour;
        margin: 0.5em;
        text-decoration: none;
        font-family: $sansSerif;
        font-size: 1.4em;
        padding: .4em;
        transition: .1s;
    }
    .link:hover{
        border-top: 2px solid $fifthColour;
        border-bottom: 2px solid $fifthColour;
        color: $fifthColour;
    }
    .active{
        color: $fifthColour;
        border-top: 2px solid $fifthColour;
        border-bottom: 2px solid $fifthColour;
    }
}