//Variables
$firstColor: #D1FAFF;
$secondColor: #9BD1E5;
$thirdColour: #6A8EAE;
$fourthColour: #57A773;
$fifthColour: #157145;
$black: #121212;
$sansSerif: 'Source Sans Pro', sans-serif;
$serif: 'PT Serif', serif;

//Universal Style
h1, h2, h3, h4, h5, h6 {
    font-family: $sansSerif;
}

p {
    font-size: 1.5em;
    font-family: $serif;
    color: $black;
    font-weight: 500;
}

button{
    font-size: 1.5em;
    font-family: $serif;
    color: $fourthColour;
}

.App, body{
    background-color: $fourthColour;
    .App-header{
        display: flex;
        margin: 5% auto;
    }
    .App-logo{
        width: 25%;
        height: auto;
        border-radius: .2em;
        background-color: $thirdColour;
    }
    .firstDescription{
        padding: 1em;
        margin: 1% auto 5% 0;
        height: auto;
        border-radius: .2em;
        background-color: $black;
    }
    #buttonsLanguage{
        text-align: center;
        button {
            background-color: $thirdColour;
            border-radius: 4px;
            border: none;
            margin: .6em;
            color: $black;
            transition: .4s;
        }

        button:hover{
            background-color: $fifthColour;
            color: white;
        }
    }
}

//Navbar

nav {
    background-color: $black;
    padding: .3em;
    text-align: end;
    #titleCurriculum{
        float: left;
        color: $thirdColour;
        margin-left: .4em;
    }
    .link{
        color: $fourthColour;
        margin: 0.5em;
        text-decoration: none;
        font-family: $sansSerif;
        font-size: 1.4em;
        padding: .4em;
        transition: .1s;
    }
    .link:hover{
        border-top: 2px solid $fifthColour;
        border-bottom: 2px solid $fifthColour;
        color: $fifthColour;
    }
    .active{
        color: $fifthColour;
        border-top: 2px solid $fifthColour;
        border-bottom: 2px solid $fifthColour;
    }
}

//Panoramic

.secondProfile{
    margin: 0;
    display: flex;
    img {
        width: 25%;
        background-color: $black;
    }
    .descriptionHomepage{
        background-color: #fff;
        padding: .4em;
    }
    #title{
        color: $black;
        font-size: 80px;
        letter-spacing: .1em;
        margin: 0 auto;
        padding: .1em;
    }
    .jrDev{
        overflow: hidden;
        white-space: nowrap;
        border-right: .10em solid $fifthColour;
        animation: typing 1.5s steps(40, end),
            blink .75s step-end infinite;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      @keyframes blink{
        50% { border-color:#fff }};  
}

//Card Section
.cardSection{
    background-color: $black;    
    padding: 3em;
    display: flex;
    justify-content: space-around;
    .card{
        background-color: #fff;
        max-width: 400px;
        max-height: fit-content;
        border: 3px solid $black;
        padding: 1em;
        border-radius: .4em;
        transition: .4s;
    }
    .card:hover{
        box-shadow: 5px 10px #fff;
    }
    .cardTitle {
        color: $black;
        text-align: center;
        padding: .5em;
        border-radius: .2em;        
        letter-spacing: .1em;
        font-size: 30px;
        font-family: $serif;
    }

    ul{
        padding: 1em;
    }
    p, li{
        color: $black;
        letter-spacing: .1em;
        font-size: 1.3em;
    }
}

//Passions

.passions{
    background-color: #fff;
    .titlePassion {
        color: $black;
        font-size: 75px;
        letter-spacing: .1em;
        margin: 0 auto;
        padding: .6em;
        text-align: center;
    }
    .passionIcon{
        background-color: transparent;
        text-align: center;
        img {
            width: 55%;
            height: auto;
            text-align: center;
        }
    }
}

//Footer
.buttonsEnd{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    .buttonFooter{
            margin-bottom: 2em;
            background-color: #fff;
            text-decoration: none;
            font-family: $sansSerif;
            font-size: 2em;
            border-radius: 4px;
            border: none;
            padding: 1em;
            color: $black;
            transition: .4s;
        }

        .buttonFooter:hover{
            background-color: $fifthColour;
            color: white;
            box-shadow: 5px 10px $black;
            border: 1px solid $black;
        }
}

//JobsPage
#job {
    background-color: #fff;
.cardsJob{
    display: flex;
}
    .titleJobs{
        color: #fff;
        font-size: 40px;
        letter-spacing: .1em;
        margin: 0 auto;
        padding: .6em;
        text-align: center;
    }
    .cardJob{
        margin: 0 6em 0 6em;
        text-align: center;
        font-size: 15px;
        background-color: $fourthColour;
        padding: 1em;
        transition: .1s;
        p {
            color: #fff;
        }
    }
    .cardJob:hover{
        border: 3px solid $black;
        border-bottom: none;
        font-size: 20px;
    }
}
